= form_for @flesh do |f|
  - if @flesh.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flesh.errors.count, "error")} prohibited this flesh from being saved:"
      %ul
        - @flesh.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
