.main-container
  .fleshes-index
    .col-xs-3
      .husen
        .row
          .col-xs-12
            %a.husen__item1.block{"data-toggle" => "tab", href: "#kyousitu"}
              4/8 新歓教室ライブ
          .col-xs-12
            %a.husen__item2.block{"data-toggle" => "tab", href: "#hanami"}
              4/12 お花見交流会
          .col-xs-12
            %a.husen__item3.block{"data-toggle" => "tab", href: "#nakaniwa"}
              4/15 中庭ライブ
          .col-xs-12
            %a.husen__item4.block{"data-toggle" => "tab", href: "#syokuji"}
              4/20 マックミスド会
          .col-xs-12
            %a.husen__item5.block{"data-toggle" => "tab", href: "#hako"}
              4/26 新歓箱ライブ
    .col-xs-9
      .tab-content
        #kyousitu.tab-pane.active
          .tape1.center
            = image_tag "tape.png"
          .kyousitu1
            = image_tag "kyousitu1.png"
          .ji1
            = image_tag "ji1.png"
          .thumbnail
            .jumbotron
              .break
              %p.pull-right
                %a.btn.btn-primary.btn-lg{role: "button"} タイムテーブルを見る
              .clear
          .tape1-l.center
            = image_tag "tape-l.png"
          .sutaren2
            = image_tag "sutaren2.png"
          .onpu
            = image_tag "onpu.png"
          .butyou
            = image_tag "butyou.png"
          .kesigomu
            = image_tag "kesigomu.png"
          .pen
            = image_tag "pen.png"
        .clear

        #hanami.tab-pane ないゆおに
        #nakaniwa.tab-pane なかにわ
        #syokuji.tab-pane ないゆおさん
        #hako.tab-pane ないひょうよん
